body {
  background-color: #ffffff;
  color: ;
  font-family: Gill Sans, Helvetica, Arial, sans-serif;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
  color: #2b616d;
  text-align: center;
}

h2 {
  color: #2b616d;
  font-size: 42px;
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

section {
  border-left: 5px solid #FA8D62;
  border-right: 5px solid #FA8D62;
  padding: 20px;
  font-style: italic;
  line-height: 30px;
  margin: 70px;
}

p {
  Color: #2b616d;
  overflow: auto;
  zoom: 1;
  }

ul {
  justify-content: center;
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  background-color: #b2dbd5;
  display: flex;
  flex-wrap: wrap;
}

li {
  justify-content: center;
  margin: 20px;
}

li a, .dropbtn {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: center;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #2b616d;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2b616d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #FA8D62;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.picture1 {
  float: right;
  margin: 0px 40px 0px 40px;
}
.picture2 {
  float: left;
  margin: 0px 40px 0px 10px;
}
.picture3 {
  float: right;
  margin: 0px 40px 0px 10px;
}

@media (max-width: 499px) {
  #Why {
      content: "Why I Started";
  }
}
